<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.leaning.book.mapper.UploadLearningFileInfoMapper">
    
    <resultMap type="UploadLearningFileInfo" id="UploadLearningFileInfoResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="path"    column="path"    />
        <result property="description"    column="description"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUploadLearningFileInfoVo">
        select id, file_name, path, description, user_id, user_name, create_time, update_time from t_upload_learning_file_info
    </sql>

    <select id="selectUploadLearningFileInfoList" parameterType="UploadLearningFileInfo" resultMap="UploadLearningFileInfoResult">
        <include refid="selectUploadLearningFileInfoVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        </where>
    </select>
    
    <select id="selectUploadLearningFileInfoById" parameterType="Long" resultMap="UploadLearningFileInfoResult">
        <include refid="selectUploadLearningFileInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUploadLearningFileInfo" parameterType="UploadLearningFileInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_upload_learning_file_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="path != null  and path != ''">path,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="path != null  and path != ''">#{path},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUploadLearningFileInfo" parameterType="UploadLearningFileInfo">
        update t_upload_learning_file_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="path != null  and path != ''">path = #{path},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUploadLearningFileInfoById" parameterType="Long">
        delete from t_upload_learning_file_info where id = #{id}
    </delete>

    <delete id="deleteUploadLearningFileInfoByIds" parameterType="String">
        delete from t_upload_learning_file_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>