<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('拖动排序')" />
    <th:block th:include="include :: header('Summernote富文本编辑器')" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">

        <input type="hidden" th:value="${themeId}" id="themeId">

        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3 th:text="${themeName}" class="text-center" id="themeName"></h3>
                        <p class="small" th:text="${themeDescription}"><i class="fa fa-hand-o-up"></i></p>

                        <ul class="sortable-list connectList agile-list" th:each="replyInfo : ${replyInfos}">

                            <li class="info-element">
<!--                                <p th:text="${replyInfo.reply}"></p>-->
                                <p>[(${replyInfo.reply})]</p>
                                <hr class="simple" color="#6f5499" />
                                <div class="agile-detail">
                                    <a href="javascript:void(0);" th:onclick="replyContent([[${replyInfo.replyFromUserId} ]] ,[[${replyInfo.replyFromUserName}]] );" class="pull-right btn btn-xs btn-white">回复</a>
                                    <i class="fa fa-clock-o" th:text="${replyInfo.publishDate}"></i> | <i class="fa" th:text="${replyInfo.replyFromUserName}"></i>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-1"></div>

        </div>


        <div class="row">
            <div class="col-sm-1"> </div>

            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>评论区</h5>
                        <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()" type="button">编辑</button>
                        <button id="save" class="btn btn-primary  btn-xs" onclick="save()" type="button">保存</button>
                    </div>
<!--                    <input id="replyContent" name="replyContent" th:field="*{replyContent}" type="hidden">-->
                    <div id="editor" class="summernote"></div>
                </div>
            </div>

            <div class="col-sm-1"></div>

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <th:block th:include="include :: summernote-js" />

    <script>
        var prefix = ctx + "learning/answer";

        $(document).ready(function () {
            $('.summernote').summernote({
                placeholder: '请输入评论',
                height : 152,
                lang : 'zh-CN'
            });
        });


        var edit = function () {
            $("#editor").addClass("no-padding");
            $('.summernote').summernote({
                lang: 'zh-CN',
                focus: true
            });
        };

        var replyToUserId;
        var replyToUserName;
        var replyContent = function(replyFromUserId,replyFromUserName){
            $('.summernote').summernote({
                focus: true
            });
            $('#editor').summernote('code',"@" + replyFromUserName + "\n");
            replyToUserId=replyFromUserId;
            replyToUserName=replyFromUserName;
        };

        var save = function () {
            $("#editor").removeClass("no-padding");
            let reply = $('.summernote').summernote('code');
            $('.summernote').summernote('destroy');

            let wbId=$("#themeId").val();
            let wbName=$("#themeName").html();

            let lWorkReplyInfo = {};
            lWorkReplyInfo["reply"]=reply;
            lWorkReplyInfo["wbId"]=wbId;
            lWorkReplyInfo["wbName"]=wbName;

            if(reply.includes("@") && replyToUserId!=null && replyToUserId!="") {
                lWorkReplyInfo["replyToUserId"]=replyToUserId;
                lWorkReplyInfo["replyToUserName"]=replyToUserName;
            }else{
                lWorkReplyInfo["replyToUserId"]="";
                lWorkReplyInfo["replyToUserName"]="";
            }
            let url = prefix + "/add";
            $.ajax({
                url: url,
                type: 'post',
                data: lWorkReplyInfo,
                dataType: "json",
                success: function(result) {
                    console.log(result)
                    // $.operate.successCallback(result);
                }
            });

        };



    </script>
</body>
</html>
