<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('拖动排序')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-2">

            </div>

            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>进行中</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务面板</p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="success-element">
                                全面、较深入地掌握我们“产品”的功能、特色和优势并做到应用自如。
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">标签</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                根据自己以前所了解的和从其他途径搜索到的信息，录入客户资料150家。
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">标记</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="warning-element">
                                锁定有意向客户20家。
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">标记</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                力争完成销售指标。
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">标签</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="info-element">
                                在总结和摸索中前进。
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">确定</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                不断学习行业知识、产品知识，为客户带来实用介绍内容
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">标记</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="danger-element">
                                先友后单：与客户发展良好友谊，转换销售员角色，处处为客户着想
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">标记</a>
                                    <i class="fa fa-clock-o"></i> 2018.11.04
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">

            </div>

        </div>


        <div class="row">
            <div class="col-sm-2">

            </div>

            <div class="col-sm-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑/保存为html代码示例</h5>
                        <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()" type="button">编辑</button>
                        <button id="save" class="btn btn-primary  btn-xs" onclick="save()" type="button">保存</button>
                    </div>
                    <div class="ibox-content" id="eg">

                        <div class="click2edit wrapper">
                            <h3>你好，若依 </h3>
                            <p>H+是一个完全响应式，基于Bootstrap3.3.6最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，她提供了诸多的强大的可以重新组合的UI组件，并集成了最新的jQuery版本(v2.1.1)，当然，也集成了很多功能强大，用途广泛的就jQuery插件，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
                            <p>
                                <b>当前版本：</b>v4.1.0
                            </p>
                            <p>
                                <span class="label label-warning">开源免费</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-2">

            </div>

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />

    <script>
        $(document).ready(function () {
            $(".sortable-list").sortable({connectWith: ".connectList"}).disableSelection();

            $('.summernote').summernote({
                lang: 'zh-CN'
            });
        });
        var edit = function () {
            $("#eg").addClass("no-padding");
            $('.click2edit').summernote({
                lang: 'zh-CN',
                focus: true
            });
        };
        var save = function () {
            $("#eg").removeClass("no-padding");
            var aHTML = $('.click2edit').summernote('code');
            $('.click2edit').summernote('destroy');
        };
    </script>
</body>
</html>
