<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.learning.studentfile.mapper.LCommitWorkInfoMapper">
    
    <resultMap type="LCommitWorkInfo" id="LCommitWorkInfoResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="path"    column="path"    />
        <result property="score"    column="score"    />
        <result property="commitUserId"    column="commit_user_id"    />
        <result property="commitUserName"    column="commit_user_name"    />
        <result property="commitTime"    column="commit_time"    />
        <result property="correctUserId"    column="correct_user_id"    />
        <result property="correctUserName"    column="correct_user_name"    />
        <result property="correctTime"    column="correct_time"    />
    </resultMap>

    <sql id="selectLCommitWorkInfoVo">
        select id, file_name, path, score, commit_user_id, commit_user_name, commit_time, correct_user_id, correct_user_name, correct_time from l_commit_work_info
    </sql>

    <select id="selectLCommitWorkInfoList" parameterType="LCommitWorkInfo" resultMap="LCommitWorkInfoResult">
        <include refid="selectLCommitWorkInfoVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="commitUserId != null  and commitUserId != ''"> and commit_user_id = #{commitUserId}</if>
            <if test="commitUserName != null  and commitUserName != ''"> and commit_user_name like concat('%', #{commitUserName}, '%')</if>
            <if test="commitTime != null "> and commit_time = #{commitTime}</if>
            <if test="correctUserId != null  and correctUserId != ''"> and correct_user_id = #{correctUserId}</if>
            <if test="correctUserName != null  and correctUserName != ''"> and correct_user_name like concat('%', #{correctUserName}, '%')</if>
            <if test="correctTime != null "> and correct_time = #{correctTime}</if>
        </where>
        order by commit_time desc
    </select>
    
    <select id="selectLCommitWorkInfoById" parameterType="Long" resultMap="LCommitWorkInfoResult">
        <include refid="selectLCommitWorkInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLCommitWorkInfo" parameterType="LCommitWorkInfo" useGeneratedKeys="true" keyProperty="id">
        insert into l_commit_work_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="path != null  and path != ''">path,</if>
            <if test="score != null ">score,</if>
            <if test="commitUserId != null  and commitUserId != ''">commit_user_id,</if>
            <if test="commitUserName != null  and commitUserName != ''">commit_user_name,</if>
            <if test="commitTime != null ">commit_time,</if>
            <if test="correctUserId != null  and correctUserId != ''">correct_user_id,</if>
            <if test="correctUserName != null  and correctUserName != ''">correct_user_name,</if>
            <if test="correctTime != null ">correct_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="path != null  and path != ''">#{path},</if>
            <if test="score != null ">#{score},</if>
            <if test="commitUserId != null  and commitUserId != ''">#{commitUserId},</if>
            <if test="commitUserName != null  and commitUserName != ''">#{commitUserName},</if>
            <if test="commitTime != null ">#{commitTime},</if>
            <if test="correctUserId != null  and correctUserId != ''">#{correctUserId},</if>
            <if test="correctUserName != null  and correctUserName != ''">#{correctUserName},</if>
            <if test="correctTime != null ">#{correctTime},</if>
         </trim>
    </insert>

    <update id="updateLCommitWorkInfo" parameterType="LCommitWorkInfo">
        update l_commit_work_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="path != null  and path != ''">path = #{path},</if>
            <if test="score != null ">score = #{score},</if>
            <if test="commitUserId != null  and commitUserId != ''">commit_user_id = #{commitUserId},</if>
            <if test="commitUserName != null  and commitUserName != ''">commit_user_name = #{commitUserName},</if>
            <if test="commitTime != null ">commit_time = #{commitTime},</if>
            <if test="correctUserId != null  and correctUserId != ''">correct_user_id = #{correctUserId},</if>
            <if test="correctUserName != null  and correctUserName != ''">correct_user_name = #{correctUserName},</if>
            <if test="correctTime != null ">correct_time = #{correctTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLCommitWorkInfoById" parameterType="Long">
        delete from l_commit_work_info where id = #{id}
    </delete>

    <delete id="deleteLCommitWorkInfoByIds" parameterType="String">
        delete from l_commit_work_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>